@media screen and (max-width: 900px) {
    .foto-principal div {
        display: none;

    }
} 

@media screen and (max-width: 900px) {
    .productoscontenedor{
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {
    .productos .productoscontenedor div img {
        width: 100%;
        height: auto;
        max-width: 300px; 
    }
}

@media screen and (max-width: 900px){
    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
    }
    .grid-item{
        grid-row: span 1;
        grid-column: span 1;
    }
}

@media screen and (max-width: 900px) {
    .video iframe{
        justify-content: center;
        width: 100%;
        height: 30vh;
    }

}