footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blacK;
    height: 20vh;
    color: $color-principal;
    div{
        h2{
            font-size: 20px;
            font-weight: 500;
        }
        a{
            margin: 50px;
        }
    }
}