header img{
    width: 70%;
}
.nav-link {
    color: black !important;
}
header nav{
    background-color: $color-principal;
    border-bottom: 1px solid $color-secundario;
}
form button{
    border: 1px solid $color-secundario !important;
    color: black !important;
}
form button:hover{
    background-color: $color-secundario !important;
    color: $color-principal !important;
} 