header img{
    width: 70%;
}
.nav-link {
    color: black !important;
}
header nav{
    background-color: white;
    border-bottom: 1px solid grey;
}
form button{
    border: 1px solid grey !important;
    color: black !important;
}
form button:hover{
    background-color: grey !important;
    color: white !important;
} 